---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
import Skills from "@/components/Skills.astro";
---

<Layout
  title="Portfolio of Om Patel – Full Stack Developer & Research Enthusiast"
  description="Hire Om Patel for full stack projects or research-driven software engineering. Proficient in React, Node.js, PostgreSQL, and AI-based tooling."
>
  <main class="px-2 md:px-6"> <!-- Reduced padding from px-4 to px-2 on small screens and px-6 on medium+ -->
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>

    <div class="space-y-24">
      <SectionContainer id="experiencia">
        <TitleSection>
          <Briefcase class="size-8" />
          Experience
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <TitleSection>
          <CodeIcon class="size-7" />
          Projects
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id="skills">
        <TitleSection>
          <CodeIcon class="size-7" />
          Skills
        </TitleSection>
        <Skills />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
        <TitleSection>
          <ProfileCheck class="size-8" />
          About me
        </TitleSection>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
