---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
    {
    date: "April 2025 – July 2025",
    title: "Machine Learning Intern",
    company: "Nitika Infotech",
    description:
      "Completed a 2-month summer internship focused on Machine Learning. Built a sales prediction project using the Apriori Association algorithm to identify product pairs frequently bought together.",
  },
  {
    date: "December 2023",
    title: "React Developer – Label Generating Project",
    company: "NHB Ball Roller Ltd, Bilimora, India",
    description:
      "Developed an automated label generation system using React and Data Matrix for comprehensive product information retrieval, improving efficiency by 30%. Collaborated directly with the Business Unit Head to ensure timely and successful project delivery.",
  },

]

---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
